<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tongzhichao.example">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name="com.tongzhichao.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.tongzhichao.drag.DragActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.tongzhichao.path.CircleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.tongzhichao.circleprogress.CircleProgressActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.tongzhichao.path.CurveActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.tongzhichao.path.DropActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.tongzhichao.path.FourPathCircleActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.tongzhichao.path.PointActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
